
# PostgreSQL Database
PG_USER=
PG_HOST=
PG_DATABASE=
PG_PORT=
PG_PASSWORD=

# Google OAuth 2.0 Secrets
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github OAuth 2.0 Secrets
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Coin Gekko Service URL & API Key
COINGECKO_API_KEY=
